/*-------General-------*/

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

body {
  display: block;
  position: relative;
  background-image: url(/imgs/backgroundB.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato";
  margin: 5%;
}

p {
  color: beige;
  font-size: 20px;
}

#bodyGraph > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  text-align: center;
  color: white;
}
.app h1 {
  font-weight: bolder;
  font-size: 50px;
  margin-top: 10%;
}

.d-flex {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 20%;
  font-size: 20px;
  font-weight: 800;
}
.app p {
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
  color: #7b7b7b;
}
.label {
  color: white !important;
}
.line {
  background-color: rgba(51, 51, 51, 0.8);
  text-align: center;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-bottom: 5%;
}
#round1 {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 10px #e6e6e6 solid;
  margin: auto;
  margin-top: 50px;
}
#round2 {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #e6e6e6;
  margin: auto;
  cursor: pointer;
  margin-top: 20px;
}
img {
  margin-top: 5px;
  width: 60px;
}

h2 {
  font-size: 60px;
  color: #e6e6e6;
  text-align: center;
  margin-bottom: 10%;
}

h3 {
  font-size: 35px;
  color: #e6e6e6;
  text-align: center;
}

table {
  color: white;
  border-collapse: collapse;
  background-color: #304549;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  border-color: #dcddde;
}

/*-------Histogramme-------*/

#histogram {
  margin-bottom: 15%;
}

.bar {
  fill: #2dd295;
}

.axis {
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}

.yAxis  {
  margin-right: 20px;
}

#histogram h3 {
  background-color: #132329;
  padding: 10px;
}

/*-------Line Chart-------*/

.line {
  margin-bottom: 15%;
}

#tooltip {
  position: absolute;
  background-color: #a6a6a6;
  padding: 5px;
}

/*-------Bubble-------*/
#bubble > h3 {
  font-size: 40px;
  color: rgb(225, 253, 238);
  background-color: #e1ca49;
  margin-right: 60%;
}

.histoContainer h3 {
  background-color: #304549;
  padding: 1.5%;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.test {
  /* background-color: red !important; */
  margin-left: 20%;
}
.bubl {
  /* background-color: green !important; */
  margin: auto;
}

#actionColor {
  background-color: red;
}

#rpColor {
  background-color: rgb(151, 83, 141);
}

#actionColor {
  background-color: red;
}

#shooterColor {
  background-color: green;
}

#sportColor {
  background-color: blue;
}

#platColor {
  background-color: #BB9600;
}